<!doctype html>
<html lang="en">
  <head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kasun Hasanga
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="title" content="Bottom Navigation Component | Ignite UI for Angular "> 
    <meta name="description" content="Display tabs for any occasion and implement a completely tabbed user interface. These UI controls manage every aspect of your tabs&#8217; appearance and behavior."> 
    <meta name="keywords" content="Ignite UI for Angular, UI controls, Angular widgets, web widgets, UI widgets, Angular, Native Angular Components Suite, Native Angular Controls, Native Angular Components Library, Angular Bottom Nav component, Angular Bottom Navigation controls">
    <meta property="docfx:navrel" content="../toc.html">
    <meta property="docfx:tocrel" content="toc.html">    
    <link rel="canonical" href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html">
    <link rel="alternate" href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="en">
    <link rel="alternate" href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="en-us">
    <link rel="alternate" href="https://jp.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="ja">
    <link rel="alternate" href="https://jp.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="ja-jp">
    <link rel="alternate" href="https://kr.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="ko">
    <link rel="alternate" href="https://kr.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="ko-kr"> 
    <link rel="alternate" href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/tabbar.html" hreflang="x-default">
    <link rel="shortcut icon" href="https://infragistics.com/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/layout.css">
    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/animate-custom.css">
    <link rel="stylesheet" href="https://infragistics.com/assets/modern/css/fontello.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://infragistics.com/css/navigation.css">
    <link rel="stylesheet" href="https://infragistics.com/css/footer.css">
    <script type="text/javascript" src="../styles/sample-iframe-handler.js?t=1572633124582"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body >

 <div>
   <app-contac-us></app-contac-us>
   
  </div>
<div>
    <app-gallery></app-gallery>  
</div>

   
     <div id="footer-container">

        <footer class="ui-footer ui-footer--clearfix">
             <!--  -->
             <div class="SocialMeadia">
                <a href=""><img src="../assets/SocialMedia/021-facebook.png" alt="facebook"></a>
                <a href=""><img src="../assets/SocialMedia/025-instagram.png" alt="instagram"></a>
                <a href=""><img src="../assets/SocialMedia/038-github.png" alt="github"></a>
                <a href=""><img src="../assets/SocialMedia/043-twitter.png" alt="twitter"></a>
                <a href=""><img src="../assets/SocialMedia/045-linkedin.png" alt="linkedin"></a>
            </div>
            <div class="ui-footer__wrap ui-footer__wrap--newsletter ui-footer--clearfix">
                <!-- 63.75% -->
                <div class="ui-footer__menu-block">
                    <div class="ui-footer__col-one-fourth ui-footer__col-block">
                        <div class="ui-footer__menu">
                            <ul class="ui-footer__menu-list">
                                <li class="ui-footer__menu-list-item">
                                    <div class="ui-footer__category">Products</div>
                                    <ul>
                                        <li><a class="menu__link mchNoDecorate" href="/products/ultimate">Developers</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/products/indigo-design/desktop">UX Pros</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="https://revealbi.io">Business Intelligence</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/products/shareplus-enterprise">Team Productivity</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/how-to-buy/product-pricing">View All</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/free-downloads">Free Trials</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Column 2 My Gallery -->
                    <div class="ui-footer__col-one-fourth ui-footer__col-block">
                        <div class="ui-footer__menu">
                            <ul class="ui-footer__menu-list">
                                <li class="ui-footer__menu-list-item">
                                    <div class="ui-footer__category">My Gallary</div>
                                    <ul>
                                        <li><a class="menu__link mchNoDecorate" >facebook developrs group</a></li>
                                        <li><a class="menu__link mchNoDecorate">HackaDev OZO</a></li>
                                        <li><a class="menu__link mchNoDecorate" >hackDev Dabulla</a></li>
                                        <li><a class="menu__link mchNoDecorate" >Software freedom day</a></li>
                                        <li><a class="menu__link mchNoDecorate" >Microsoft</a></li>
                                        <li><a class="menu__link mchNoDecorate" >prodigi Interactive-GameDev</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Column 4 Contac-->
                    <div class="ui-footer__col-one-fourth ui-footer__col-block">
                        <div class="ui-footer__menu">
                            <ul class="ui-footer__menu-list">
                                <li class="ui-footer__menu-list-item">
                                    <div class="ui-footer__category">Contac Us</div>
                                    <ul>
                                        <li><a class="menu__link mchNoDecorate" href="/about-us">Telephone</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/about-us/careers">Fax</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/legal/terms-of-use">Email</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/events">Address</a></li>
                                        <li><a class="menu__link mchNoDecorate" href="/about-us/alliances-partners">Direction</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 21.25% -->

            </div>

        </footer>
        <footer id="footer">
        	<div id="footer-wrap" class="be-wrap clearfix">
        		<div id="copyright">© Copyright 2020 Kasun Hasanga. All Rights Reserved</div>
        	</div>
        </footer>
    

</div >
  


<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
</body>
</html>
